@font-face {
    font-family: RuneScape UF;
    src: url(./font/runescape_uf.otf);
}

* {
    box-sizing: border-box;
    text-align: center;
    font-family: "RuneScape UF", sans-serif;
    border-color: #afa282!important;
}

body {
    width: 1200px;
    max-height: 1000px;
    margin: 30px auto;
    background-image: url(./images/bgcolor.png);
}

.user-choice-parent, .final-stats, body {
    background: #d4c191;
}

.user-choice-parent, .final-stats {
    width: 320px;
    height: auto;
    border: 1px solid black;
    margin: auto 30px 30px;
    float: left;
}

.user-choice-div-child, .final-stats-div-child {
    width: 290px;
    height: auto;
    border: 1px solid black;
    margin: 15px auto;
    background: #d4c191;
}

.user-choice-div-child-top-box, .final-stats-div-child-top-box {
    margin-top: 5px !important;
}

.user-choice-category, .final-stats-category {
    font-size: 22px;
    color: #7b4f17;
    background: #d4c191;
}

.user-choice-top-row, .user-choice-bottom-row, .final-stats-top-row, .final-stats-bottom-row {
    width: 270px;
    height: auto;
    margin: 0 auto 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #d4c191;
}

.user-choice-top-row {
    height: auto;
}

.user-choice-bottom-row {
    height: 24px;
}

.user-choice-stat {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    margin: 8px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #5D563D;
}

.all-stat-icon {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #d4c191;
    height: 29px;
}

.icon-image {
    max-width: 100%;
    background: #d4c191;
    align-self: center;
}

.final-stats-stat {
    min-width: 22px;
    height: 20px;
    margin: 10px auto auto;
    padding: 2px;
    font-size: 16px;
    background: #dbcba3;
    border: 1px solid black;
}

.equipment--big-box, .equipment--slot-boxes, .equipment--slot-names, .equipment--item-names--1-through-3, .equipment--item-names--4, .equipment--image-containers-1-through-3, .equipment--image-containers--4, .equipment--slot-text, .equip-icon, .equipment--image {
    background-image: url('./images/rstexture.jpg')!important;
}

.equipment--big-box {
    width: 700px;
    height: auto;
    border: 1px solid black;
    margin-left: 30px;
    float: right;
    color: darkorange;
}

.equipment--slot-boxes {
    width: 650px;
    height: 80px;
    border: 1px solid black;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

.equipment--slot-names {
    width: 90px;
    height: 100%;
    border-right: 1px solid black;
    margin: auto 0;
    padding: auto;
    display: table;
}

.equipment--item-names--1-through-3, .equipment--item-names--4 {
    display: table-cell;
}

.equipment--item-names--1-through-3 {
    width: 140px;
    height: 20px;
    border-right: 1px solid black;
    font-size: 16px;
}

.equipment--item-names--4 {
    width: 138px;
    height: 20px;
    font-size: 16px;
}

.equipment--image-containers-1-through-3, .equipment--image-containers--4 {
    height: 60px;
    border-top: 1px solid black;
}

.equipment--image-containers-1-through-3 {
    width: 140px;
    border-right: 1px solid black;
    position: relative;
}

.equipment--image-containers--4 {
    width: 138px;
}

.equipment--image {
    height: 100%;
    background-image: url('./images/icons/blankitemfinal.png')!important;
    display: block;
    margin: auto;
}

.head-text {
    font-size: 25px;
}

.text {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
}

.stab-icon {
    width: 21px;
    height: 31px;
    position: relative;
    left: 2px;
}

.slash-icon {
    width: 27px;
    height: 31px;
    position: relative;
    left: 3px;
}

.crush-icon {
    width: 27px;
    height: 31px;
    position: relative;
    top: 1px;
    left: 1px;
}

.magic-icon {
    width: 27px;
    height: 31px;
    position: relative;
    top: 3px;
    left: 1px;
}

.range-icon {
    width: 23px;
    height: 31px;
    position: relative;
    top: 3px;
    left: 1px;
}

.strength-icon {
    height: 28px;
    position: relative;
    top: 4px;
    left: -1px;
}

.range-strength-icon {
    width: 26px;
    height: 28px;
    position: relative;
    top: 1px;
    left: 2px;
}

.magic-strength-icon {
    width: 28px;
    height: 28px;
    position: relative;
    left: 2px;
}

.prayer-icon {
    width: 23px;
    height: 28px;
    position: relative;
    top: 2px;
}

.visible-todo {
  min-width: 240px;
  max-width: 640px;
  min-height: 60px;
  margin: auto;
  border: solid 1px;
  color: white;
}

.todo-ul-hide-bullet {
  list-style-type: none;
}

.todo-text {
  margin: auto;
  padding: 18px;
  font-size: 24px;
}

.navbar-parent {
  height: 80px;
  width: 100%;
  background-color: white;
}

.navbar-element {
  min-width: 15%;
  height: 100%;
  background-color: grey;
}
