/* Below 320px */
@media only screen and (max-width: 320px) {
  .equipment--big-box {
    max-width: 233px;
  }

  .highest-parent {
    width: 320px;
    margin: 10px auto;
  }

  .equipment--big-box {
    margin: 30px auto 0;
    padding: 0 0 20px 0;
  }

  .final-stats {
    margin: 15px auto
  }

  .user-choice-parent {
    margin: 15px auto
  }

  .user-and-final-parent {
    width: auto;
    margin: 15px auto;
  }

  .equipment--item1, .equipment--item2, .equipment--item3 {
    display: none!important;
  }
}


/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .equipment--big-box {
    max-width: 233px;
  }

  .highest-parent {
    width: 320px;
    margin: 10px auto;
  }

  .equipment--big-box {
    margin: 30px auto 0;
    padding: 0 0 20px 0;
  }

  .final-stats {
    margin: 15px auto
  }

  .user-choice-parent {
    margin: 15px auto
  }

  .user-and-final-parent {
    width: auto;
    margin: 15px auto;
  }
  .equipment--item1, .equipment--item2, .equipment--item3 {
    display: none!important;
  }
}


/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .equipment--big-box {
    max-width: 373px;
  }

  .highest-parent {
    width: 480px;
    margin: 10px auto;
  }

  .equipment--item2, .equipment--item3 {
    display: none!important;
  }

  .equipment--item1 {
    display: table-cell!important;
  }
}


/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .equipment--big-box {
    max-width: 700px;
  }

  .highest-parent {
    width: auto;
    margin: 10px auto;
  }

  .equipment--big-box {
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 400px;
  }

  .user-and-final-parent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .equipment--item2, .equipment--item3 {
    display: table-cell!important;
  }
}


/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .highest-parent {
    width: 992px;
    margin: 10px auto;
  }
}


/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .highest-parent {
    height: auto;
    width: 1200px;
    margin: 10px auto;
  }

  .user-and-final-parent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}


@font-face {
  font-family: RuneScape UF;
  src: url(./font/runescape_uf.otf);
}

* {
  box-sizing: border-box;
  text-align: center;
  user-select: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100%;
  margin: 30px auto 0;
  overflow: auto
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

#app {
  max-height: 30px;
}

.user-choice-parent, .final-stats, .equipment--big-box {
  font-family: "RuneScape UF", sans-serif;
}

.user-choice-parent, .final-stats {
  background: #d4c191;
}

.user-choice-parent, .final-stats {
  width: 320px;
  height: auto;
  border: 1px solid #afa282;
}

.user-choice-div-child, .final-stats-div-child {
  width: 290px;
  height: auto;
  border: 1px solid #afa282;
  margin: 15px auto;
  background: #d4c191;
}

.user-choice-div-child {
  padding: 1px 0;
}

.user-choice-category, .final-stats-category {
  font-size: 22px;
  color: #7b4f17;
  background: #d4c191;
}

.user-choice-top-row, .user-choice-bottom-row, .final-stats-top-row, .final-stats-bottom-row {
  width: 270px;
  height: auto;
  margin: 0 auto 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #d4c191;
}

.user-choice-top-row {
  height: auto;
}

.user-choice-bottom-row {
  height: 24px;
}

.user-choice-stat {
  width: 16px;
  height: 16px;
  border: 1px solid #afa282;
  margin: 8px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #5D563D;
}

.all-stat-icon {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: #d4c191;
  height: 29px;
}

.icon-image {
  max-width: 100%;
  background: #d4c191;
  align-self: center;
}

.final-stats-stat {
  min-width: 22px;
  height: 16px;
  margin: 10px auto auto;
  padding: 2px;
  font-size: 14px;
  background: #dbcba3;
  border: 1px solid #afa282;
}

.equipment--big-box, .equipment--slot-boxes, .equipment--slot-names, .equipment--item-names, .equipment--item-names--4, .equipment--image-containers, .equipment--image-containers--4, .equipment--slot-text, .equip-icon, .equipment--image {
  background-image: url('./images/rstexture.jpg')!important;
}

.equipment--big-box {
  width: auto;
  height: auto;
  top: 0;
  border: 1px solid #afa282;
  color: darkorange;
}

.equipment--slot-boxes {
  width: auto;
  max-width: 651px;
  height: 80px;
  border: 1px solid #afa282;
  border-right: none;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}

.equipment--slot-names {
  width: 90px;
  height: 100%;
  border-right: 1px solid #afa282;
  margin: auto 0;
  padding: auto;
  display: table;
}

.equipment--item-names, .equipment--item-names--4 {
  display: table-cell;
}

.equipment--item-names {
  width: 140px;
  height: 20px;
  border-right: 1px solid #afa282;
  font-size: 16px;
}

.equipment--item-names--4 {
  width: 138px;
  height: 20px;
  font-size: 16px;
}

.equipment--image-containers, .equipment--image-containers--4 {
  height: 62px;
  border-top: 1px solid #afa282;
}

.equipment--image-containers {
  width: 140px;
  border-right: 1px solid #afa282;
  position: relative;
}

.equipment--image-containers--4 {
  width: 138px;
}

.equipment--image {
  height: 100%;
  max-height: 61px;
  background-image: url('./images/icons/blankitemfinal.png')!important;
  display: block;
  margin: auto;
}

.head-text {
  font-size: 25px;
}

.text {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
}

.stab-icon {
  width: 21px;
  height: 31px;
  position: relative;
  left: 2px;
}

.slash-icon {
  width: 27px;
  height: 31px;
  position: relative;
  left: 3px;
}

.crush-icon {
  width: 27px;
  height: 31px;
  position: relative;
  top: 1px;
  left: 1px;
}

.magic-icon {
  width: 27px;
  height: 31px;
  position: relative;
  top: 3px;
  left: 1px;
}

.range-icon {
  width: 23px;
  height: 31px;
  position: relative;
  top: 3px;
  left: 1px;
}

.strength-icon {
  height: 28px;
  position: relative;
  top: 4px;
  left: -1px;
}

.range-strength-icon {
  width: 26px;
  height: 28px;
  position: relative;
  top: 1px;
  left: 2px;
}

.magic-strength-icon {
  width: 28px;
  height: 28px;
  position: relative;
  left: 2px;
}

.prayer-icon {
  width: 23px;
  height: 28px;
  position: relative;
  top: 2px;
}

.visible-todo {
  min-width: 240px;
  max-width: 640px;
  min-height: 60px;
  margin: auto;
  border: solid 1px;
  color: white;
}

.todo-ul-hide-bullet {
  list-style-type: none;
}

.todo-text {
  margin: auto;
  padding: 18px;
  font-size: 24px;
}

.navbar-parent {
  height: 30px;
  width: 100%;
  background-color: grey;
  overflow: hidden;
  position: fixed;
  top: 0;
  margin-bottom: 10px;
  z-index: 1;
}

.nav-element-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.navbar-element {
  min-width: 15%;
  max-width: 35%;
  height: 24px;
  background-color: white;
  border: 1px solid black;
  margin: 2px;
  padding: 0 3px;
  font-size: 16px;
  user-select: none;
}

.navbar-element--link {
  text-decoration: none;
}

.visible-todo {
  list-style-type: none;
}
