* {
  box-sizing: border-box; /* Makes elements include border,padding, and margin in width calculations */
  text-align: center; /* Personal preference of text centered by default, override with more specific selector */
}

html {
  overflow: hidden; /* Helps older browsers that may lack features included, can keep the page from breaking horrifically */
  height: 100%;
}

body {
  height: 100%;
  margin: 30px 1% 0 1%; /* Top right bottom left */
  overflow: auto; /* Possibly redundant */
}

:root {
/* Define custom colors as variables, reference with 'var(--COLOR-NAME)' */
  --main-red: #D73500; /* Red from shirt on patch */
  --main-black: #080403; /* Black of pants on patch */
  --patch-border-red: #941100; /* Red outline on patch */
  --patch-border-black: #060606; /* Black outline on patch */
  --text-black: #111111; /* Text should never be true black (#000000) */
  --border-black: #181818; /* Borders should be lighter than text black */
}

/* Removes scrollbar, commented out unless requested */
/*::-webkit-scrollbar {*/
  /*width: 0;  !* remove scrollbar space *!*/
/*background-color: transparent;*/
/*}*/

/* Possibly unnecessary TODO: either remove or uncomment */
/*#app {*/
  /*height: auto;*/
/*}*/

.test1 {
  height: 100px;
  width: 100px;
  margin: 10px;
  border: 10px solid var(--main-red);
  outline: 10px solid var(--border-black);
}

