/*
Media queries are located at the bottom to overwrite defaults
(defaults in place for older browsers that don't support css grid)
*/

:root {
  /* Define custom colors as variables, reference with 'var(--COLOR-NAME)' */
  --main-red: #D73500; /* Red from shirt on patch */
  --main-black: #080403; /* Black of pants on patch */
  --patch-sun-yellow: #FDE756; /* Sun interior on patch */
  --patch-sun-orange: #E5731B; /* Sun outline on patch */
  --patch-border-red: #941100; /* Red outline on patch */
  --patch-border-black: #060606; /* Black outline on patch */
  --text-black: #111111; /* Text should never be true black (#000000) */
  --text-hover: #1111cf; /* Text should never be true black (#000000) */
  --background-grey: #d1d1d1;
  --background-hover: #888888; /* Background should change on hover to a consistent color */
  --border-black: #181818; /* Borders should be lighter than text black */
}

* {
  box-sizing: border-box; /* Makes elements include border,padding, and margin in width calculations */
  text-align: center; /* Personal preference of text centered by default, override with more specific selector */
}

html {
  overflow: hidden; /* Helps older browsers that may lack features included, can keep the page from breaking horrifically */
  height: 100%;
}

body {
  height: 100%;
  margin: 30px 2px 10px; /* Top right/left bottom */
  overflow: auto; /* Possibly redundant */
  /*background-color: var(--patch-border-black);*/
  /*background-image: linear-gradient(to right, var(--patch-border-red), var(--patch-border-black) 50%, var(--patch-border-red) 100%);*/
  /*background-size: 100% 100%;*/
  /*background-position: 50% 100%;*/
  /*background-repeat: no-repeat;*/
  /*background: radial-gradient(var(--patch-border-black), var(--patch-border-red));*/
  background: radial-gradient(ellipse at center, grey, white);
}

 /*Removes scrollbar, commented out unless requested*/
/*::-webkit-scrollbar {*/
  /*width: 0;  !* remove scrollbar space *!*/
/*background-color: transparent;*/
/*}*/

 /*Possibly useful TODO: either remove or uncomment*/
/*#app {*/
  /*height: auto;*/
/*}*/

.navbar-single-page {
  width: 100%;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  background-color: #f2f2f2;
  display: flex;
}

.navbar-anchor-parent {
  height: 30px;
  display: flex;
  flex-grow: 1;
}

.navbar-anchor-parent:hover {
  color: var(--text-hover);
  background: var(--background-hover);
  background: var(--background-hover);
}

.navbar-anchor-element {
  width: 100%;
  height: 30px;
  text-decoration: none;
  color: var(--text-black);
  font-size: 22px;
  flex-grow: 1;
}

.navbar-anchor-element:hover {
  color: var(--text-hover);
  background: var(--background-hover);
}

.about-highest-parent, .schedule-highest-parent, .prices-highest-parent, .contact-highest-parent {
  /*box-shadow: 0 1px 2px 0 grey;*/
  background-color: var(--background-grey);
}

.about-highest-parent {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 30px auto 100px; /* top left/right bottom */
  border: 1px solid var(--border-black);
  color: var(--text-black);
  overflow: auto;
}

.about-highest-parent h1 {
  margin-top: 40px;
}

#about, #slideshow, #schedule, #contact, #prices {
  /* #about is a span inside of .about-highest-parent
  this is necessary to offset anchor fragment links from overshooting and hiding portions of elements*/
  display: block;
  margin-top: -31px;
}

#slideshow {
  height: 31px;
}

.about-google-slideshow-parent {
  width: 100%;
  margin: 0 auto 250px;
}

.about-google-slideshow-iframe {
  width: 100%;
  height: 75%;
  max-width: 1000px;
  max-height: 750px;
  min-width: 320px;
  min-height: 240px;
  margin: 0 auto;
}

.schedule-highest-parent {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 30px auto 250px; /* top left/right bottom */
  color: var(--text-black);
  display: flex;
  flex-wrap: wrap;
}

.schedule-day-column-with-classes {
  width: 14.28%;
  margin: 0 auto;
  border: 1px solid var(--border-black);
  border-top: none;
  border-bottom: none;
}

.schedule-day-column-no-classes {

}

.schedule-day-name-row {
  width: 100%;
  height: 17%;
  margin: 0 auto;
  border-bottom: 2px solid var(--border-black);
}

.schedule-day-name-row:first-child {
  border-left: none;
}

.schedule-day-name-row:last-child {
  border-right: none;
}

.schedule-google-calendar {
  margin: 0 auto;
  width: 100%;
  height: auto;
  min-width: 320px;
  min-height: 480px;
}

.prices-highest-parent {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 30px auto 250px; /* top left/right bottom */
  color: var(--text-black);
  border: 1px solid var(--border-black);
}

.prices-highest-parent span {
  height: 31px;
}

.prices-inner-text {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  color: var(--text-black);
}

.contact-highest-parent {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 30px auto 40px; /* top left/right bottom */
  color: var(--text-black);
}

/* Values in parenthesis must evaluate to true to be enabled. EG: (min-width: 320px) means screen must be 320px or more.
Queries must be included sequentially to overwrite values placed for smaller screens. Whichever query evaluates true last
will be the final values used. Values specified below the queries will overwrite the values specified in the queries. */

/* Support for extremely small devices and slim windows */
@media only screen and (min-width: 1px) {
  .about-google-slideshow-iframe {
    min-width: 320px;
    min-height: 280px;
  }
}

@media only screen and (min-width: 370px) {
  .about-google-slideshow-iframe {
    min-width: 360px;
    min-height: 320px;
  }
}

@media only screen and (min-width: 420px) {
  .about-google-slideshow-iframe {
    min-width: 400px;
    min-height: 360px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .about-google-slideshow-iframe {
    min-width: 460px;
    min-height: 400px;
  }
}

@media only screen and (min-width: 600px) {
  .about-google-slideshow-iframe {
    min-width: 580px;
    min-height: 500px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .about-google-slideshow-iframe {
    min-width: 760px;
    min-height: 650px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .about-google-slideshow-iframe {
    min-width: 980px;
    min-height: 780px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
