/*
Media queries are located at the bottom to overwrite defaults
(defaults in place for older browsers that don't support css grid)
*/

:root {
  /* Define custom colors as variables, reference with 'var(--COLOR-NAME)' */
  --main-red: #D73500; /* Red from shirt on patch */
  --main-black: #080403; /* Black of pants on patch */
  --patch-sun-yellow: #FDE756;
  --patch-sun-orange: #E5731B;
  --patch-border-red: #941100; /* Red outline on patch */
  --patch-border-black: #060606; /* Black outline on patch */
  --text-black: #111111; /* Text should never be true black (#000000) */
  --border-black: #181818; /* Borders should be lighter than text black */
}

* {
  box-sizing: border-box; /* Makes elements include border,padding, and margin in width calculations */
  text-align: center; /* Personal preference of text centered by default, override with more specific selector */
}

html {
  overflow: hidden; /* Helps older browsers that may lack features included, can keep the page from breaking horrifically */
  height: 100%;
}

body {
  height: 100%;
  margin: 30px 1% 0 1%; /* Top right bottom left */
  overflow: auto; /* Possibly redundant */
  /*background-color: var(--patch-border-black);*/
  /*background-image: linear-gradient(to right, var(--patch-border-red), var(--patch-border-black) 50%, var(--patch-border-red) 100%);*/
  /*background-size: 100% 100%;*/
  /*background-position: 50% 100%;*/
  /*background-repeat: no-repeat;*/
  /*background: radial-gradient(var(--patch-border-black), var(--patch-border-red));*/
  background: radial-gradient(ellipse at center, grey, white)
}

/* Removes scrollbar, commented out unless requested */
/*::-webkit-scrollbar {*/
  /*width: 0;  !* remove scrollbar space *!*/
/*background-color: transparent;*/
/*}*/

/* Possibly useful TODO: either remove or uncomment */
/*#app {*/
  /*height: auto;*/
/*}*/

.about-highest-parent, .schedule-highest-parent, .prices-highest-parent, .contact-highest-parent {
  border: 1px solid black;
  box-shadow: 0 1px 2px 0 grey;
}

.about-highest-parent {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background-color: white;
  margin: 20px auto 0; /* top left/right bottom */
  color: var(--text-black);
}

.about-google-slideshow {
  width: 100%;
  max-width: 1000px;
  height: auto;
  min-width: 320px;
  min-height: 600px;
  margin: 0 auto;
}

.schedule-highest-parent {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background-color: white;
  margin: 20px auto 0; /* top left/right bottom */
  color: var(--text-black);
  display: flex;
  flex-wrap: wrap;
}

.test1 {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

.schedule-day-column-with-classes {
  width: 14.28%;
  margin: 0 auto;
  border: 1px solid var(--border-black);
  border-top: none;
  border-bottom: none;
}

.schedule-day-column-no-classes {

}

.schedule-day-name-row {
  width: 100%;
  height: 17%;
  margin: 0 auto;
  border-bottom: 2px solid var(--border-black);
}

.schedule-day-name-row:first-child {
  border-left: none;
}

.schedule-day-name-row:last-child {
  border-right: none;
}

.schedule-google-calendar {
  margin: 0 auto;
  width: 100%;
  height: auto;
  min-width: 320px;
  min-height: 480px;
}

.prices-highest-parent {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background-color: white;
  margin: 20px auto 0; /* top left/right bottom */
  color: var(--text-black);
}

.contact-highest-parent {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background-color: white;
  margin: 20px auto 40px; /* top left/right bottom */
  color: var(--text-black);
}

/* Values in parenthesis must evaluate to true to be enabled. EG: (min-width: 320px) means screen must be 320px or more.
Queries must be included sequentially to overwrite values placed for smaller screens. Whichever query evaluates true last
will be the final values used. Values specified below the queries will overwrite the values specified in the queries. */

/* Support for extremely small devices and slim windows */
@media only screen and (min-width: 1px) {
  /*.schedule-highest-parent {*/
    /*display: inline-grid;*/
    /*grid-template-columns: repeat(7, 1fr);*/
  /*}*/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
